<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>

<h1 th:text="${name}">      </h1>

</body>
</html>