<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new Page</title>
</head>
<body>

<h1 th:text="${user.username}"></h1>
<h1 th:text="${user.password}"></h1>

</body>
</html>